@font-face {
    font-family: 'Instrument Sans';
    src: url('fonts/InstrumentSans-Regular.woff2') format('woff2'),
        url('fonts/InstrumentSans-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans';
    src: url('fonts/InstrumentSans-Bold.woff2') format('woff2'),
        url('fonts/InstrumentSans-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Instrument Sans';
    src: url('fonts/InstrumentSans-Italic.woff2') format('woff2'),
        url('fonts/InstrumentSans-Italic.woff') format('woff');
    font-weight: normal;
    font-style: italic;
    font-display: swap;
}

