.react-simple-keyboard {
  background-color: #333333;
  border-radius: 0;
  box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.hg-rows {
  padding: 0px 5rem;
}

.hg-button.hg-standardBtn {
  color: black;
  font-size: 2rem;
  padding: 2rem 1rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
}

.hg-button.hg-functionBtn.hg-button-bksp,
.hg-button.hg-functionBtn.hg-button-shift,
.hg-button.hg-functionBtn.hg-button-space,
.hg-button.hg-functionBtn.hg-button-hidekeyboard,
.hg-button.hg-functionBtn.hg-button-numeric,
.hg-button.hg-functionBtn.hg-button-abc  {
  padding: 2rem 1rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
}

.hg-button.hg-functionBtn.hg-button-hidekeyboard,
.hg-button.hg-functionBtn.hg-button-bksp,
.hg-button.hg-functionBtn.hg-button-numeric,
.hg-button.hg-functionBtn.hg-button-abc {
  flex: 0 0 70px;
}

.simple-keyboard .shift-active {
  background: #333;        /* blue highlight */
  box-shadow: inset 0 0 0 2px #333;
}

.simple-keyboard .shift-active img {
  filter: brightness(0) invert(1); /* white icon */
}

.simple-keyboard .shift-inactive {
}

.hg-layout-numeric .hg-rows {
  margin: 0 15rem;
}

.hg-layout-numeric .hg-row:has(> div.hg-button-bksp) {
  justify-content: end;
}