.hg-rows {
  padding: 0px 5rem;
}

.hg-button.hg-standardBtn {
  color: black;
  font-size: 2rem;
  padding: 2rem 1rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
}

.hg-button.hg-functionBtn.hg-button-bksp,
.hg-button.hg-functionBtn.hg-button-shift,
.hg-button.hg-functionBtn.hg-button-space {
  padding: 2rem 1rem;
  border-radius: 0.375rem;
  border: none;
  cursor: pointer;
}
